.forgot-header{

    height:80px;
    background:#10243d;
    display:flex;
    align-items:center;
    padding-left:40px;

}


.logo{

    display:flex;
    align-items:center;
    gap:15px;

}


.logo img{

    width:55px;

}


.logo h1{

    color:white;
    font-size:28px;

}



.forgot-container{

    height:calc(100vh - 80px);
    display:flex;
    justify-content:center;
    align-items:center;
    background:#081525;

}



.forgot-box{

    width:400px;
    padding:40px;
    background:#162b45;
    border-radius:15px;
    text-align:center;

}



.forgot-box h2{

    color:white;
    font-size:30px;

}



.forgot-box p{

    color:#ccc;

}



.forgot-box input{

    width:100%;
    padding:12px;
    margin:20px 0;
    border-radius:8px;
    border:none;

}



.forgot-box button{

    width:100%;
    padding:12px;
    background:#0d5dcc;
    color:white;
    border:none;
    border-radius:8px;
    cursor:pointer;

}



.forgot-box button:hover{

    background:#08469b;

}